<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Super Heros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-searchbar [(ngModel)]="searchName" (ionChange)="newSearch()"></ion-searchbar>
    <!-- <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar> -->
    <!-- <ion-searchbar showCancelButton="focus" class=""></ion-searchbar> -->
  </ion-item>
  <div *ngFor="let item of allType">
    <ion-item>
      <ion-label (click)="presentModal(item.id);valueFetch(item.id)">{{item.name}}</ion-label>
    </ion-item>
  </div>
  
</ion-content>
